@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base: 32, 57%, 95%;
    --surface: 35, 100%, 98%;
    --overlay: 33, 43%, 91%;
    --muted: 257, 9%, 61%;
    --subtle: 248, 12%, 52%;
    --text: 248, 19%, 40%;
    --love: 343, 35%, 55%;
    --gold: 35, 81%, 56%;
    --rose: 3, 53%, 67%;
    --pine: 197, 53%, 34%;
    --foam: 189, 30%, 48%;
    --iris: 268, 21%, 57%;
    --highlight-lo: 25, 35%, 93%;
    --highlight-md: 10, 9%, 86%;
    --highlight-hi: 315, 4%, 80%;
  }

  .dark {
    --base: 246, 24%, 17%;
    --surface: 248, 24%, 20%;
    --overlay: 248, 21%, 26%;
    --muted: 249, 12%, 47%;
    --subtle: 248, 15%, 61%;
    --text: 245, 50%, 91%;
    --love: 343, 76%, 68%;
    --gold: 35, 88%, 72%;
    --rose: 2, 66%, 75%;
    --pine: 197, 48%, 47%;
    --foam: 189, 43%, 73%;
    --iris: 267, 57%, 78%;
    --highlight-lo: 245, 22%, 20%;
    --highlight-md: 247, 16%, 30%;
    --highlight-hi: 249, 15%, 38%;
  }
}

@layer base {
  html {
    @apply border-subtle scroll-smooth;
  }

  body {
    @apply bg-base text-text mx-auto flex min-h-screen max-w-3xl flex-col px-8 pt-12 font-mono antialiased;
  }

  .logo {
    font-family: var(--font-nabla);
    font-palette: logoPalette;
  }

  @font-palette-values --logoPalette {
    font-family: var(--font-nabla);
    base-palette: 3;
  }
}
